<%= form_for(@media_item) do |f| %>
  <% if @media_item.errors.any? %>
    <div id="error_explanation">
     <h2>Invalid Item</h2>
     <ul>
      <% @media_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, ["website", "youtube", "file"] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
