<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "HitfoxMedia" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <input id="current_user_id" type="hidden" value="<%= user_signed_in? ? current_user.id : nil %>" />

    <%= render "top_bar" %>

    <div class="row">
      <div class="large-9 push-3 columns">
        <%= yield %>
       </div>
      <div class="large-3 pull-9 columns">
        <%= render "sidebar" %>
      </div>
     </div>
  </body>
</html>
